<header>
    <div class="container">
        <div class="row">
            <div class="logo-left">
                <div class="img">
                    <a routerLink="'/'">
                        <img src="https://webbox.imgix.net/images/QbvWFjDgWGnwkNvs/cf73ee26-b323-4bdf-ab47-27d1975bc351.jpg?auto=format,compress&fit=crop&h=112 "
                            alt="logo">
                    </a>
                </div>
            </div>
            <div class="navigations-right">
                <div class="details">
                    <div class="details-row align-items-center">
                        <div class="number d-flex align-items-center">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <p>02 123 456 789</p>
                        </div>
                        <div class="search">
                            <button>Search</button>
                        </div>
                    </div>
                </div>
                <div class="navigate">
                    <ul>
                        <li>
                            <a>
                                <p>HOME</p>
                            </a>
                        </li>
                        <li>
                            <a>
                                <p>ATTRACTIONS</p>
                            </a>
                        </li>
                        <li>
                            <a>
                                <p>VILLAS</p>
                            </a>
                        </li>
                        <li>
                            <a>
                                <p>GALLERY</p>
                            </a>
                        </li>
                        <li>
                            <a>
                                <p>WEDDINGS</p>
                            </a>
                        </li>
                        <li>
                            <a>
                                <p>CONTACT US</p>
                            </a>
                        </li>
                        <li>
                            <a>
                                <p>PROMOTIONS</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>