<section>
    <div class="container">
        <div class="rows">
            <div class="paradise-text">
                <div class="paradise-text-inner">
                    <div>
                        <h1 style="font-size: 69px;letter-spacing: 5px; font-weight: 400; color: white;">
                            A DAY IN PARADISE
                        </h1>
                    </div>
                    <div>
                        <h2
                            style="font-family: Lora,serif; color: white; font-style: italic; font-size: 16px; letter-spacing: 1px; font-weight: 400;">
                            ...a world of seclusion and indulgence
                        </h2>
                    </div>
                    <div style="font-size: 25px; color: white; letter-spacing: 5px;">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="date-picker">
                <div class="date-picker-inner">
                    <div class="cities">
                        <mat-form-field>
                            <mat-label>Cities</mat-label>
                            <mat-select [(ngModel)]="selectedCity">
                                <mat-option value="1">New York</mat-option>
                                <mat-option value="2">Los Angeles</mat-option>
                                <mat-option value="3">Miami</mat-option>
                                <mat-option value="4">San Francisco</mat-option>
                                <mat-option value="5">Chicago</mat-option>
                                <mat-option value="6">Las Vegas</mat-option>
                                <mat-option value="7">Orlando</mat-option>
                                <mat-option value="8">Austin</mat-option>
                                <mat-option value="9">Seattle</mat-option>
                                <mat-option value="10">Denver</mat-option>
                                <mat-option value="11">Nashville</mat-option>
                                <mat-option value="12">Boston</mat-option>
                                <mat-option value="13">Portland</mat-option>
                                <mat-option value="14">Phoenix</mat-option>
                                <mat-option value="15">San Diego</mat-option>
                                <mat-option value="16">Dallas</mat-option>
                                <mat-option value="17">Houston</mat-option>
                                <mat-option value="18">Atlanta</mat-option>
                                <mat-option value="19">New Orleans</mat-option>
                                <mat-option value="20">Washington, D.C.</mat-option>
                                <mat-option value="21">Philadelphia</mat-option>
                                <mat-option value="22">Minneapolis</mat-option>
                                <mat-option value="23">Detroit</mat-option>
                                <mat-option value="24">Miami</mat-option>
                                <mat-option value="25">Phoenix</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="check-In">
                        <div>
                            <mat-form-field>
                                <mat-label>Check-In Date</mat-label>
                                <input matInput [matDatepicker]="checkInPicker" [(ngModel)]="checkInDate"
                                    (dateChange)="onCheckInDateChange($event)">
                                <mat-datepicker-toggle matSuffix [for]="checkInPicker"></mat-datepicker-toggle>
                                <mat-datepicker #checkInPicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="check-out">
                        <div>
                            <mat-form-field>
                                <mat-label>Check-Out Date</mat-label>
                                <input matInput [matDatepicker]="checkOutPicker" [(ngModel)]="checkOutDate"
                                    (dateChange)="onCheckOutDateChange($event.value)">
                                <mat-datepicker-toggle matSuffix [for]="checkOutPicker"></mat-datepicker-toggle>
                                <mat-datepicker #checkOutPicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="members">
                        <mat-form-field class="example-full-width">
                            <mat-label>Guests</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                    <button (click)="onSearch()">SEARCH</button>
                </div>
            </div>
        </div>
    </div>
</section>