<section>
    <div class="container">
        <div class="rows">
            <div class="paradise-text">
                <div class="paradise-text-inner">
                    <div>
                        <h1 style="font-size: 69px;letter-spacing: 5px; font-weight: 400; color: white;">
                            A DAY IN PARADISE
                        </h1>
                    </div>
                    <div>
                        <h2
                            style="font-family: Lora,serif; color: white; font-style: italic; font-size: 16px; letter-spacing: 1px; font-weight: 400;">
                            ...a world of seclusion and indulgence
                        </h2>
                    </div>
                    <div style="font-size: 25px; color: white; letter-spacing: 5px;">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <app-search-bar style="position: absolute;top: 80%; width: 100%;"></app-search-bar>
    </div>
</section>