section {
  background-image: url("https://webbox.imgix.net/images/QbvWFjDgWGnwkNvs/201ddf34-d5f3-4831-9958-bfd2fe4d1d62.jpg?auto=format");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 80vh;
  min-height: 80vh;

  .container {
    .rows {
      .paradise-text {
        display: block;
        text-align: center;
        position: absolute;
        top: 40%;
        left: 0;
        width: 100%;
      }
    }
  }
}
