<section class="h-100 gradient-custom">
    <div class="container py-5" *ngIf="hotels$ | async as hotels">
        <div class="row d-flex justify-content-center my-4">
            <div class="col-md-8">
                <div class="card mb-3" *ngFor="let hotel of hotels">
                    <div class="row no-gutters">
                        <div class="col-md-3">
                            <!-- Hotel Image -->
                            <div class="bg-image hover-overlay hover-zoom ripple rounded">
                                <img src="{{ hotel.image }}" alt="Hotel Image" class="img-fluid">
                                <a href="#">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">
                                <h5 class="card-title"><strong>{{ hotel.name }}</strong></h5>
                                <p class="card-text">{{ hotel.city }}</p>
                                <p class="card-text">{{ hotel.description }}</p>
                                <ul class="amenities-list">
                                    <li *ngFor="let amenity of hotel.amenities">{{ amenity }}</li>
                                </ul>
                                <div class="row justify-content-end  mt-3">
                                    <div class="col-md-6 text-right" style="width: 30%;">
                                        <div class="col-md-6">
                                            <p class="mb-0"
                                                style="font-family: Graphik-Regular,sans-serif; font-weight: 400; font-size: 32px; line-height: 100%;">
                                                {{ hotel.price }}</p>
                                            <p>USD/night</p>
                                        </div>
                                        <button type="button" class="btn btn-primary btn-sm">
                                            Book Now
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>